{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": [
        "transform-decorators-legacy"
      ]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": [
        "transform-decorators-legacy"
      ]
    },
    "test": {
      "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]],
      "plugins": [
        "transform-decorators-legacy"
      ]
    }
  },
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "components": "./components",
          "models": "./models",
          "conf": "./conf",
          "pages": "./pages",
          "styles": "./styles"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ]
  ],
  "ignore": []
}
